@layout MainLayout
@page "/sector"
@using ShelterApp.Business.Services.SectorService
@using ShelterApp.Components
@using ShelterApp.Components.Commons.Loadings
@using ShelterApp.Components.Layouts
@using ShelterApp.Entities.Entities.Sector.dtos
@using ShelterApp.UI.Pages.Base


@inherits BaseListPage<SelectSectorDto, ListSectorDto, CreateSectorDto, UpdateSectorDto>

@inject ISectorAppService SectorAppService
@inject NavigationManager NavigationManager


@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" >
        <GridLayoutItems>
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">

                        <CardContent>
                            <SfGrid ID="Grid" @ref="_grid" AllowPdfExport=true ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="@AllowGridPaging" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" Toolbar=@GridToolbarItems>

                                <GridEvents OnToolbarClick="@ToolbarClickHandler" TValue="ListSectorDto"></GridEvents>

                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>

                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>

                                <GridPageSettings PageSizes="true" PageSize="@GridPageSize"></GridPageSettings>

                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>

                                <GridColumns>
                                    <GridColumn HeaderText="Sıra No" TextAlign="TextAlign.Left" Width="120">
                                        <Template Context="cntxt">
                                            @{
                                                var contxt = (cntxt as ListSectorDto);
                                                var siraNo = ((ListDataSource.IndexOf(contxt) + 1).ToString());
                                            }
                                            @siraNo
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field=@nameof(ListSectorDto.TextInPicture) HeaderText="Resim Yazısı" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSectorDto.SectorName) HeaderText="Sektör Adı" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSectorDto.HeaderText) HeaderText="Başlık Yazısı" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSectorDto.ContentText) HeaderText="İçerik Yazısı" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListSectorDto.FrontPhoto) HeaderText="Ön Foto" TextAlign="TextAlign.Left" Width="120">
                                        <Template>
                                            @{
                                                var imgBase = (context as ListSectorDto).FrontPhoto;
                                                if (imgBase.Length > 0)
                                                {
                                                    var base64 = Convert.ToBase64String(imgBase);
                                                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                                                    @*<img src="@imgSrc" />*@

                                                    <div style="text-align:center;">
                                                        <img src="@imgSrc" style="width:75px;height:75px;" />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div style="text-align:center;">
                                                        <img src="" style="width:75px;height:75px;" />
                                                    </div>
                                                }
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field=@nameof(ListSectorDto.Photo1) HeaderText="Resim 1" TextAlign="TextAlign.Left" Width="120">
                                        <Template>
                                            @{
                                                var imgBase = (context as ListSectorDto).Photo1;
                                            if (imgBase.Length > 0)
                                            {
                                                var base64 = Convert.ToBase64String(imgBase);
                                                var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                                                @*<img src="@imgSrc" />*@

                                                    <div style="text-align:center;">
                                                        <img src="@imgSrc" style="width:75px;height:75px;" />
                                                    </div>
                                            }
                                            else
                                            {
                                                    <div style="text-align:center;">
                                                        <img src="" style="width:75px;height:75px;" />
                                                    </div>
                                                }
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field=@nameof(ListSectorDto.Photo2) HeaderText="Resim 2" TextAlign="TextAlign.Left" Width="120">
                                        <Template>
                                            @{
                                                var imgBase = (context as ListSectorDto).Photo2;
                                            if (imgBase.Length > 0)
                                            {
                                                var base64 = Convert.ToBase64String(imgBase);
                                                var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                                                @*<img src="@imgSrc" />*@

                                                    <div style="text-align:center;">
                                                        <img src="@imgSrc" style="width:75px;height:75px;" />
                                                    </div>
                                            }
                                            else
                                            {
                                                    <div style="text-align:center;">
                                                        <img src="" style="width:75px;height:75px;" />
                                                    </div>
                                                }
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field=@nameof(ListSectorDto.Photo3) HeaderText="Resim 3" TextAlign="TextAlign.Left" Width="120">
                                        <Template>
                                            @{
                                                var imgBase = (context as ListSectorDto).Photo3;
                                                if (imgBase.Length > 0)
                                                {
                                                    var base64 = Convert.ToBase64String(imgBase);
                                                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                                                    @*<img src="@imgSrc" />*@

                                                    <div style="text-align:center;">
                                                        <img src="@imgSrc" style="width:75px;height:75px;" />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div style="text-align:center;">
                                                        <img src="" style="width:75px;height:75px;" />
                                                    </div>
                                                }
                                            }
                                        </Template>
                                    </GridColumn>
                                     <GridColumn Field="İşlemler" HeaderText="İşlemler" TextAlign="TextAlign.Left" Width="120">
                                        <Template>
                                            <button class="btn btn-success" @onclick="() => EditItem(context as ListSectorDto)"><i class="fa fa-pen"></i></button>
                                            <button class="btn btn-danger" @onclick="() => DeleteItem(context as ListSectorDto)"><i class="fa fa-trash"></i></button>
                                        </Template>
                                    </GridColumn>

                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Sektör Listesi"
         HeaderCssClass="HeaderTitleCss"
            Width="1000px"
             MaxWidth="1000px">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="66px" />
                    <DxGridLayoutRow Height="135px" />
                    <DxGridLayoutRow Height="75px" />
                    <DxGridLayoutRow Height="108px" />
                    <DxGridLayoutRow Height="192px" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="2%" />
                    <DxGridLayoutColumn Width="35%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="30%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="30%" />
                    <DxGridLayoutColumn Width="2%" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Sektör İsmi</strong></label><br />
                            <SfTextBox @bind-Value="DataSource.SectorName"></SfTextBox>
                        </Template>

                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Resim Yazısı</strong></label><br />
                            <SfTextBox Multiline="true" style="height:93px" @bind-Value="DataSource.TextInPicture"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Başlık Yazısı</strong></label><br />
                            <SfTextBox Multiline="true" @bind-Value="DataSource.HeaderText"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="3" Column="1">
                         <Template>
                            <br />
                            <br />
                            <label class="TSIModalLabel"><strong>İçerik</strong></label><br />
                            <SfTextBox Multiline="true" style="height:150px" @bind-Value="DataSource.ContentText"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>
                     <DxGridLayoutItem Row="0" Column="3">
                       <Template>
                            <br /><label class="TSIModalLabel"><strong>Resim Önü Foto</strong></label>
                            @{
                                var imgBase = DataSource.FrontPhoto;

                                if (imgBase != null && imgBase.Length > 0)
                                {
                                    var base64 = Convert.ToBase64String(imgBase);
                                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                                    <br />
                                    <img src="@imgSrc" style="width:100px;height:100px;" />
                                }
                                else
                                {
                                    <br />
                                    <img src="images/resimYok.jpg" style="width:100px;height:100px;" />
                                }
                                <br />
                                <br />
                                <div class="file-input-zone">
                                    <InputFile OnChange="UploadFiles4" />
                                </div>
                            }
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="0" Column="5" >
                        <Template>
                          <br /><label class="TSIModalLabel"><strong>İçerik Foto 1</strong></label>
                            @{
                                var imgBase = DataSource.Photo1;

                                if (imgBase != null && imgBase.Length > 0)
                                {
                                    var base64 = Convert.ToBase64String(imgBase);
                                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                                    <br />
                                    <img src="@imgSrc" style="width:100px;height:100px;" />
                                }
                                else
                                {
                                    <br />
                                    <img src="images/resimYok.jpg" style="width:100px;height:100px;" />
                                }
                            <br />
                            <br />
                            <div class="file-input-zone">
                                <InputFile OnChange="UploadFiles1" />
                            </div>
                            }
                        </Template>
                    </DxGridLayoutItem>
                     <DxGridLayoutItem Row="2" Column="3" >
                        <Template>
                             <br /><label class="TSIModalLabel"><strong>İçerik Foto 2</strong></label>
                            @{
                                var imgBase = DataSource.Photo2;

                                if (imgBase != null && imgBase.Length > 0)
                                {
                                    var base64 = Convert.ToBase64String(imgBase);
                                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                                    <br />
                                    <img src="@imgSrc" style="width:100px;height:100px;" />
                                }
                                else
                                {
                                    <br />
                                    <img src="images/resimYok.jpg" style="width:100px;height:100px;" />
                                }
                            }
                            <br />
                            <br />
                            <div class="file-input-zone">
                                <InputFile OnChange="UploadFiles2" />
                            </div>
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="5">
                        <Template>
                            <br /><label class="TSIModalLabel"><strong>İçerik Foto 3</strong></label>
                            @{
                                var imgBase = DataSource.Photo3;

                                if (imgBase != null && imgBase.Length > 0)
                                {
                                    var base64 = Convert.ToBase64String(imgBase);
                                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                                    <br />
                                    <img src="@imgSrc" style="width:100px;height:100px;" />
                                }
                                else
                                {
                                    <br />
                                    <img src="images/resimYok.jpg" style="width:100px;height:100px;" />
                                }
                            }
                            <br />
                            <br />
                            <div class="file-input-zone">
                                <InputFile OnChange="UploadFiles3" />
                            </div>
                        </Template>
                    </DxGridLayoutItem>
                </Items>
            </DxGridLayout>


        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="SaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="CancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>
}