@layout MainLayout
@page "/product"
@using ShelterApp.Business.Services.ProductService
@using ShelterApp.Components
@using ShelterApp.Components.Commons.Loadings
@using ShelterApp.Components.Layouts
@using ShelterApp.Entities.Entities.Product.dtos
@using ShelterApp.UI.Pages.Base


@inherits BaseListPage<SelectProductDto, ListProductDto, CreateProductDto, UpdateProductDto>

@inject IProductAppService ProductAppService
@inject NavigationManager NavigationManager


@if (!base.IsLoaded)
{
    <CircleLoading Caption="@base.LoadingCaption" Text="@base.LoadingText" />
}
else
{
    <DevGridLayout ColumnCount="1" RowCount="3" >
        <GridLayoutItems>
@*             <DxGridLayoutItem Row="0" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIListPageTitleCard">
                        <CardContent>
                            <BreadCrumb PreviousMenus="Product" CurrentMenu="Product Listesi" />
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem> *@
            <DxGridLayoutItem Row="2" Column="0" ColumnSpan="1">
                <Template>
                    <SfCard class="TSIGridCards">

                        <CardContent>
                            <SfGrid ID="Grid" @ref="_grid" AllowPdfExport=true ColumnMenuItems=@MenuItems ShowColumnMenu="true" DataSource="@ListDataSource" AllowPaging="@AllowGridPaging" AllowFiltering="true" AllowReordering="true" AllowResizing="true" AllowGrouping="true" AllowExcelExport="true" ShowColumnChooser="true" GridLines="GridLine.Both" AllowSelection="true" AllowSorting="true" Height="100%" Width="100%" class="GridZebra" Toolbar=@GridToolbarItems>

                                <GridEvents OnToolbarClick="@ToolbarClickHandler" TValue="ListProductDto"></GridEvents>

                                <GridGroupSettings ShowGroupedColumn="true"></GridGroupSettings>

                                <GridEditSettings AllowAdding="false" AllowEditing="false" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Normal"></GridEditSettings>

                                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>

                                <GridPageSettings PageSizes="true" PageSize="@GridPageSize"></GridPageSettings>

                                <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>

                                <GridColumns>
                                    <GridColumn HeaderText="Sıra No" TextAlign="TextAlign.Left" Width="120">
                                        <Template Context="cntxt">
                                            @{
                                                var contxt = (cntxt as ListProductDto);
                                                var siraNo = ((ListDataSource.IndexOf(contxt) + 1).ToString());
                                            }
                                            @siraNo
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field=@nameof(ListProductDto.Baslik) HeaderText="Başlık" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListProductDto.UstBaslik) HeaderText="Üst Başlık" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListProductDto.Icerik) HeaderText="İçerik" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListProductDto.Detay) HeaderText="Detay" TextAlign="TextAlign.Left" Width="120"></GridColumn>
                                    <GridColumn Field=@nameof(ListProductDto.Isim) HeaderText="İsim" TextAlign="TextAlign.Left" Width="120"></GridColumn>

                                    <GridColumn Field=@nameof(ListProductDto.FrontPhoto) HeaderText="Ön Resim" TextAlign="TextAlign.Left" Width="120">
                                        <Template>
                                            @{
                                                var imgBase = (context as ListProductDto).FrontPhoto;
                                            if (imgBase != null && imgBase.Length > 0)
                                            {
                                                    <br />
                                                    <img src="@imgBase" style="width:75px;height:75px;" />
                                            }
                                            else
                                            {
                                                    <br />
                                                    <img src="images/resimYok.jpg" style="width:75px;height:75px;" />
                                                }
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field=@nameof(ListProductDto.Photo1) HeaderText="Resim 1" TextAlign="TextAlign.Left" Width="120">
                                        <Template>
                                            @{
                                                var imgBase = (context as ListProductDto).Photo1;
                                            if (imgBase != null && imgBase.Length > 0)
                                            {
                                                    <br />
                                                    <img src="@imgBase" style="width:75px;height:75px;" />
                                            }
                                            else
                                            {
                                                    <br />
                                                    <img src="images/resimYok.jpg" style="width:75px;height:75px;" />
                                                }
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field=@nameof(ListProductDto.Photo2) HeaderText="Resim 2" TextAlign="TextAlign.Left" Width="120">
                                        <Template>
                                            @{
                                                var imgBase = (context as ListProductDto).Photo2;
                                            if (imgBase != null && imgBase.Length > 0)
                                            {
                                                    <br />
                                                    <img src="@imgBase" style="width:75px;height:75px;" />
                                            }
                                            else
                                            {
                                                    <br />
                                                    <img src="images/resimYok.jpg" style="width:75px;height:75px;" />
                                                }
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn Field=@nameof(ListProductDto.Photo3) HeaderText="Resim 3" TextAlign="TextAlign.Left" Width="120">
                                        <Template>
                                            @{
                                                var imgBase = (context as ListProductDto).Photo3;
                                                if (imgBase != null && imgBase.Length > 0)
                                                {
                                                    <br />
                                                    <img src="@imgBase" style="width:75px;height:75px;" />
                                                }
                                                else
                                                {
                                                    <br />
                                                    <img src="images/resimYok.jpg" style="width:75px;height:75px;" />
                                                }
                                            }
                                        </Template>
                                    </GridColumn>
                                     <GridColumn Field="İşlemler" HeaderText="İşlemler" TextAlign="TextAlign.Left" Width="120">
                                        <Template>
                                            <button class="btn btn-success" @onclick="() => EditItem(context as ListProductDto)"><i class="fa fa-pen"></i></button>
                                            <button class="btn btn-danger" @onclick="() => DeleteItem(context as ListProductDto)"><i class="fa fa-trash"></i></button>
                                        </Template>
                                    </GridColumn>

                                </GridColumns>
                            </SfGrid>
                        </CardContent>
                        <CardFooter>
                        </CardFooter>
                    </SfCard>
                </Template>
            </DxGridLayoutItem>
        </GridLayoutItems>
    </DevGridLayout>

    <DxPopup @bind-Visible="base.EditPageVisible"
         ShowFooter="true"
         CloseOnEscape="false"
         CloseOnOutsideClick="false"
         HeaderText="Ürün Listesi"
         HeaderCssClass="HeaderTitleCss"
             Width="1000px"
             MaxWidth="1000px">

        <BodyTemplate>
            <DxGridLayout CssClass="TSIGridLayout">

                <Rows>
                    <DxGridLayoutRow Height="25%" />
                    <DxGridLayoutRow Height="25%" />
                    <DxGridLayoutRow Height="25%" />
                    <DxGridLayoutRow Height="25%" />
                </Rows>

                <Columns>
                    <DxGridLayoutColumn Width="2%" />
                    <DxGridLayoutColumn Width="35%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="30%" />
                    <DxGridLayoutColumn Width="4%" />
                    <DxGridLayoutColumn Width="30%" />
                    <DxGridLayoutColumn Width="2%" />
                </Columns>

                <Items>
                    <DxGridLayoutItem Row="0" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Başlık</strong></label><br />
                            <SfTextBox CssClass=" " @bind-Value="DataSource.Baslik"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="1" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Üst Başlık</strong></label>
                            <SfTextBox CssClass=" " @bind-Value="DataSource.UstBaslik"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Ürün adı</strong></label>
                            <SfTextBox CssClass=" " @bind-Value="DataSource.Isim"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="3" Column="1">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Ürün içeriği</strong></label>
                            <SfTextBox CssClass=" " @bind-Value="DataSource.Icerik"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="2" Column="3">
                        <Template>
                            <br />
                            <label class="TSIModalLabel"><strong>Detay</strong></label><br />
                            <SfTextBox CssClass=" " @bind-Value="DataSource.Detay"></SfTextBox>
                        </Template>
                    </DxGridLayoutItem>

                    <DxGridLayoutItem Row="0" Column="3" >
                        <Template>
                            @{
                                var imgBase = DataSource.FrontPhoto;

                                if (imgBase != null && imgBase.Length > 0)
                                {
                                    <br />
                                    <img src="@imgBase" style="width:100px;height:100px;" />
                                }
                                else
                                {
                                    <br />
                                    <img src="images/resimYok.jpg" style="width:100px;height:100px;" />
                                }

                                <br />
                                <br />
                                <div class="file-input-zone">
                                    <InputFile OnChange="UploadFiles" /><br />
                                </div>
                                @if (photoVisible)
                                {
                                    <div id="loading" class="loading">Loading...</div>
                                }

                            }
                        </Template>
                    </DxGridLayoutItem>
                                        <DxGridLayoutItem Row="0" Column="5" >
                        <Template>
                            @{
                                var imgBase = DataSource.Photo1;

                                if (imgBase != null && imgBase.Length > 0)
                                {
                                    <br />
                                    <img src="@imgBase" style="width:100px;height:100px;" />
                                }
                                else
                                {
                                    <br />
                                    <img src="images/resimYok.jpg" style="width:100px;height:100px;" />
                                }

                                <br />
                                <br />
                                <div class="file-input-zone">
                                    <InputFile OnChange="UploadFiles1" /><br />
                                </div>
                                @if (photoVisible1)
                                {
                                    <div id="loading" class="loading">Loading...</div>
                                }

                            }
                        </Template>
                    </DxGridLayoutItem>
                                        <DxGridLayoutItem Row="1" Column="5" >
                        <Template>
                            @{
                                var imgBase = DataSource.Photo2;

                                if (imgBase != null && imgBase.Length > 0)
                                {
                                    <br />
                                    <img src="@imgBase" style="width:100px;height:100px;" />
                                }
                                else
                                {
                                    <br />
                                    <img src="images/resimYok.jpg" style="width:100px;height:100px;" />
                                }

                                <br />
                                <br />
                                <div class="file-input-zone">
                                    <InputFile OnChange="UploadFiles2" /><br /><br /><br />
                                </div>
                                @if (photoVisible2)
                                {
                                    <div id="loading" class="loading">Loading...</div>
                                }

                            }
                        </Template>
                    </DxGridLayoutItem>
                    <DxGridLayoutItem Row="2" Column="5">
                        <Template>
                            @{
                                var imgBase = DataSource.Photo3;

                                if (imgBase != null && imgBase.Length > 0)
                                {
                                    <br />
                                    <img src="@imgBase" style="width:100px;height:100px;" />
                                }
                                else
                                {
                                    <br />
                                    <img src="images/resimYok.jpg" style="width:100px;height:100px;" />
                                }

                                <br />
                                <br />
                                <div class="file-input-zone">
                                    <InputFile OnChange="UploadFiles3" />
                                </div>
                                @if (photoVisible3)
                                {
                                    <div id="loading" class="loading">Loading...</div>
                                }

                            }
                        </Template>
                    </DxGridLayoutItem>
                      <DxGridLayoutItem Row="2" Column="3">
                        <Template>
                            <br>
                            <br>
                            <br>
                            <br>
                            <label><strong>Dil</strong></label><br />
                            <SfComboBox TValue="string" TItem="string" Placeholder="Dil Seçiniz" DataSource="@dilList" @bind-Value=@DataSource.Language>
                             <ComboBoxEvents TValue="string" TItem="string" ValueChange="OnDilValueChange"></ComboBoxEvents>
                            </SfComboBox>
                        </Template>
                    </DxGridLayoutItem>
                </Items>
            </DxGridLayout>


        </BodyTemplate>
        <FooterContentTemplate>
            <SfButton CssClass="SaveButton" OnClick="OnSubmit"><SfIcon Size="IconSize.Medium" Name="IconName.Save"></SfIcon>&nbsp;Kaydet</SfButton>
            <SfButton CssClass="CancelButton" OnClick="HideEditPage"><SfIcon Size="IconSize.Medium" Name="IconName.Undo"></SfIcon>&nbsp;Kapat</SfButton>
        </FooterContentTemplate>
    </DxPopup>
}

<style>


    .hidden {
        display: none;
    }

    .loading {
        font-size: 24px;
        color: #000;
        position: relative;
        margin-bottom: 20px;
    }

        .loading::before {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            border: 4px solid #000;
            border-top-color: transparent;
            border-radius: 50%;
            animation: spin 1s linear infinite;
            vertical-align: middle;
            margin-right: 10px;
        }

</style>